<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div>
        <input type="text" id="name">
        <button id="btn" onclick=get()>取得</button>
        <h2 id="result">検索結果</h2>
        <div id="aaa">
            <ul id="song">
            </ul>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    function get() {
        var name = $('#name').val();
        if (name) {
            $.ajax({
                url: name,
                type: 'POST',
                data: { name: "name" },
                dataType: 'json'
            }).done((datas) => {
                datas = JSON.stringify(datas);
                // datas = JSON.parse(JSON.stringify(datas));
                $('#aaa').empty();

                $('#aaa').text(datas);
            });
        }
    }
    function accont_linkage() {
        $.ajax({
            url: '/api/room/access',
            type: 'POST',
            data: { name: name },
            dataType: 'json'
        })
    }
</script>

</html>